*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 18px;
}

label{
	display: inline-block;
	width: 100px;
}

.filter-input {
	font-size:10px;
	width: 100px;
}

.data-rows {
	table-layout: auto;
	border: 2px solid black;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	border-spacing: 0;
	border-collapse: collapse;
	margin: 20px; 
	overflow-y: auto;

}

.data-rows td, th{		
	white-space: nowrap;
	table-layout: auto;	
	border: 1px solid grey;
	padding: 5px;
	min-width: 20px;
}

/* .mytable tr:nth-child(2n){
	background: rgb(50, 44, 44);
	color: white;
} */

.data-rows tr:hover{
	background: blue;
	color:white;
}

#edit {
	border: 2px solid black;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
}

#card {
	border: 2px solid black;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
}
 #button-container {
        text-align: center;
    }

    #button-container button {
        margin: 0 auto;
    }

.centered-buttons {
        text-align: center;
        margin-top: 30px;
}

header {
  background-color: rgb(55, 44, 44);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav a.active {
  background-color: rgba(255, 255, 255, 0.5);
}

#button-container {
	text-align: center;
}

#button-container button {
	margin: 0 auto;
}

button{
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.centered-buttons {
	text-align: center;
	margin-top: 30px;
}
